<mdb-navbar SideClass="navbar fixed-top navbar-expand-md navbar-dark mdb-color darken-3">


  <mdb-navbar-brand>
    <img src="https://s8.postimg.cc/jtiwezh9h/imageedit_2_2463756714.png" width="80px">
    <span class="amber-text title ">Books Collection</span>
  </mdb-navbar-brand>

  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button mdbBtn (click)="openDialog()">Add Book</button>
      </li>
    </ul>

    

    <app-filter></app-filter>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>