<div class="container">
      
    <form>
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="textSearch" name="textSearch"(input)="searchMovieTitle()" placeholder="Filter movies by title">
          
          </mat-form-field>
 
      <mat-form-field>
          <mat-select [(ngModel)]="textSearch"  name="yearSearch" placeholder="filter by year">
            <mat-option *ngFor="let year of years" [value]="year.value"(click)="searchMovieYear(year.value)">
<span >{{ year.value }}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>

    </form>
</div>