<div class="container">
      
    <form>
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="textSearch" name="textSearch"(input)="searchMovieTitle()" placeholder="Filter movies by title">
          
          </mat-form-field>
 
      <mat-form-field>
          <mat-select placeholder="filter by year">
            <mat-option *ngFor="let year of years" [value]="year.value">
              {{ year.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

    </form>
</div>